:root {
    --color-brand: #819B57;
    --color-primary_dark: #31261A;
    --color-primary_light: #FAF4EA;
    --color-brand-dark: #465929;
    --color-brand-light: #cfcfbc;
    --color-secondary-dark: #A18268;
}